# Anypoint Platform Credentials
token_endpoint=https://anypoint.mulesoft.com/accounts/api/v2/oauth2/token
client_id=<your_client_id>
client_secret=<your_client_secret>
grant_type=client_credentials

# CloudHub Deployments Base URL (for dynamic log URL resolution)
deployments_base_url=https://anypoint.mulesoft.com/amc/application-manager/api/v2/organizations/<organization_id>/environments/<environment_id>/deployments
